/* Add a black background color to the top navigation */
.topnav {
    background-color: #82c7e0;
    overflow: hidden;
    align-content: center;
    margin: auto;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
}

h1 {
   text-align: center;
    margin-bottom: 0px;
}

h4 {
    text-align: center;
    margin-top: 0px;
    
}

h3 {
    text-align: center;
    border-bottom: solid ;
    border-top: solid black;
    

}

h5 {
    text-align: left;
    margin-top: 0px
}
body   {
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    
}

.pleft {
    position: relative;
    width: 45%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    padding: 1em;
 }
.pright {
    position: relative;
    width: 45%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    padding: 1em;
}
.tech1 {
    position: relative;
    width: 45%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;                                       
}

.tech2 {
    position: relative;
    width: 45%;
    display: inline-block;
    text-align: justify;
    vertical-align: text-top;
    padding: 1em;
}

.row {
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
}
    
#Submit_button {
    margin-left: 25;
} 
    
    
    
    
        
